script(src="../js/CodeMirror-2.22/lib/codemirror.js")
link(rel="stylesheet", href="../js/CodeMirror-2.22/lib/codemirror.css")
script(src="../js/CodeMirror-2.22/mode/javascript/javascript.js")
- if(mode == 'htmlmixed')
  script(src="../js/CodeMirror-2.22/mode/xml/xml.js")
  script(src="../js/CodeMirror-2.22/mode/css/css.js")
  script(src="../js/CodeMirror-2.22/mode/htmlmixed/htmlmixed.js")
  
style(type="text/css")
  .CodeMirror {border: 1px solid #B8B8B8;}
  .CodeMirror-scroll {height: auto; overflow: visible;}
form(action='/'+revision.scriptId, method='POST')
  input(type='hidden', name='_method', value='PUT')
  textArea(type='text', id='revision_content', 
           style='float:center',
           name='revision[content]', 
           style='width:100%;height:800px;')= revision.content
  p(style='float:right')
    input(type='text', id='revision_message', name='revision[message]')
    input(type='submit', value='Save')
script
  var myCodeMirror = CodeMirror.fromTextArea(revision_content, {mode:  "#{mode}"});
#footer
  p(style='float:left')
    - if(revision.dependencies && revision.dependencies.length != 0)
      | Requires 
      - var n = revision.dependencies.length;
      - for(var i = 0; i < n; i++)
        - var d = revision.dependencies[i];
          a(href='/edit/#{d}') #{d}
          - if(i < n-1)
            , 
      - if(revision.template)
        , 
    - if(revision.template)
      | embedded in 
      a(href='/scripts/'+revision.template)
        #{revision.template}
